[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
faker = "*"
delta-spark = "*"
minimum-jazz = {editable = true, path = "."}
pandas = "~=1.0.1"
torch = "~=1.6.0"
transformers = "*"
pyarrow = "~=1.0.1"
mlflow = "~=1.11.0"
numpy = "~=1.18.1"
scikit-learn = "~=0.22.1"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-bdd = "*"
setuptools = "*"
dbx = "*"
minimum-jazz = {editable = true, path = "."}

[requires]
python_version = "3.7.10"
